<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Indian motors | Bike Service Bike Repair Home Service Gurgaon</title>
<meta name="description" content="Bike Garage,Bike Chainset, Bike Service Bike Repair and home service pickup and drop facility in gurgaon.">
<meta name="keywords" content="Home Service,Bike Repair,Bike Service,Pulsar Service,Apache Service,Yamaha Service, Honda Service, Activa Service, Bike Fix,Online Bike service,Bike Service pickup,Bike Checkup,Bike tyres,Bike Engine,Engine Oil,Online Service Gurgaon">
<link rel="icon" href="favicon.png" type="image/png">
<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/wow.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script src="contactform/contactform.js"></script>



</head>
<body ng-app="myApp">
<header class="header" id="header"><!--header-start-->
   <div class="container">
      <div class="intro_section">
    	<figure class="logo">
        	<a href="#"><!-- <img src="img/logo.png" alt=""> --></a>	
        </figure>	
        <h1 class="animated fadeInDown">Indian Motors</h1>
        <ul class="we-create animated fadeInUp">
        	<li><strong>DoorStep Bike Service and Repair in Gurgaon starting at 299*.</strong></li>
        </ul>
            <a class="link animated fadeInUp delay-02s repairlink" href="#service"><b>Book a Repair</b></a>
            <a class="link animated fadeInUp delay-02s servicelink" href="#service"><b>Book Service</b></a>
      </div>     
   </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li class="small-logo"><a href="#header"><img class="sitelogo_container" src="img/newLogo.png" alt=""></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#contact"></a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="service">
	<div class="container" ng-controller="booking">
    	<h2>Services</h2>
    	<h6>Indian Motors care for your Bike as our own.</h6>
        <div class="row service_top_container">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-paw"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Doorstep Service</h3>
                        <p>Home Pickup and Drop service at just Rs 149*.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Original Spares</h3>
                        <p>Indian Motors only uses Original Spare parts and quality Products.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-percent"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Discounts</h3>
                        <p>30% Discount on Labor Charges For AMC Members.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Post Service Support</h3>
                        <p>Indian Motors is there for you if you face any issue from our service.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6  wow booking_form_wrapper">
            	<form class="w3-container" id="bookingForm">
                      <div class="row">
                       <div class="col-md-6 col-sm-6">
                         <div class="field">    
                           <input type="text" class="floatinput w3-input input_gen"  data-attr="{{input.name}}" ng-model='input.name'>
                           <label class="floatlabel" for="Name">Name</label>
                         </div>  
                       </div>  
                       <div class="col-md-6 col-sm-6">
                          <div class="field">    
                             <input type="text" class="floatinput w3-input input_gen"  data-attr="{{input.phone}}" ng-model='input.phone'>
                             <label class="floatlabel" for="Phone">Phone</label>
                          </div>  
                        </div>    
                      </div> 
                      <div class="field">    
                         <input type="text" class="floatinput w3-input input_gen"  data-attr="{{input.email}}" ng-model='input.email'>
                         <label class="floatlabel" for="Email">Email</label>
                      </div>  
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="field">    
                              <select  class="w3-select" name="input.brand">
                                  <option value="" disabled selected>Choose Brand</option>
                                  <option value="Bajaj">Bajaj</option>
                                  <option value="Hero">Hero</option>
                                  <option value="Honda">Honda</option>
                                  <option value="KTM">KTM</option>
                                  <option value="Enfield">Royal Enfield</option>
                                  <option value="Suzuki">Suzuki</option>
                                  <option value="TVS">TVS</option>
                                  <option value="Yamaha">Yamaha</option>
                               </select>
                            </div>  
                        </div>  
                        <div class="col-md-6 col-sm-6">
                          <div class="field">    
                             <input type="text" class="floatinput w3-input input_gen"  data-attr="{{input.model}}" ng-model='input.model'>
                             <label class="floatlabel" for="Model">Model</label>
                          </div>  
                        </div>    
                     </div> 
                     <div class="row lastfields">
                        <div class="col-md-6 col-sm-6"> 
                          <div class="radio_div">
                              <input type="radio" id="radio1" name="type" value="all">
                              <label for="radio1" class="btn btn-primary btn-lg radiolabel">Service</label>
                              <input type="radio" id="radio2" name="type" value="false">
                              <label for="radio2" class="btn btn-primary btn-lg radiolabel">Repair</label>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                         <div class="submit_button">
                             <input type="submit" ng-disabled="((!input.name) || (!input.phone) || (!input.email))" ng-click="book_service(input)"  class="w3-button w3-green book_button" value="Confirm Booking" id="book_submit">
                         </div>
                        </div> 
                     </div>
                </form>
            </div>
        
        </div>
	</div>
</section><!--main-section-end-->



<!-- <section class="main-section alabaster">
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<img  src="img/iphone.png" alt="">
            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>featured work</h2>
            	<P class="padding-b">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</P>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-magic"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>magic of theme development</h3>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-gift"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>neatly packaged</h3>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-06s">
                    	<i class="fa-dashboard"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>SEO optimized</h3>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                    </div>    
                </div>
                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
	</div>
</section> --><!--main-section alabaster-end-->



<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
	<div class="container">
    	<h2>Portfolio</h2>
    	<h6>Fresh portfolio of designs that will keep you wanting more.</h6>
      <div class="portfolioFilter">  
        <ul class="Portfolio-nav wow fadeIn delay-02s">
        	<li><a href="#" data-filter="*" class="current" >All</a></li>
            <li><a href="#" data-filter=".branding" >Branding</a></li>
            <li><a href="#" data-filter=".webdesign" >Web design</a></li>
            <li><a href="#" data-filter=".printdesign" >Print design</a></li>
            <li><a href="#" data-filter=".photography" >Photography</a></li>
        </ul>
       </div> 
        
	</div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
            	<div class=" Portfolio-box printdesign">
                	<a href="https://www.ducati.com/in/en/editorial/pre-booking-panigale-v4"><img src="http://images.contentful.com/rjyti9b6lmvy/5hEquQzMyAgKQ6SEWqYiKc/765ffda7ab9efef8497f71e5d769ccdd/Panigale-V4S-Red-MY18-01-Garanzia-Card-ImgTxt_432x230.jpg" alt=""></a>	
                	<h3>Foto Album</h3>
                    <p>Print Design</p>
                </div>
                <div class="Portfolio-box webdesign">
                	<a href="#"><img src="img/Portfolio-pic2.jpg" alt=""></a>	
                	<h3>Luca Theme</h3>
                    <p>Web Design</p>
                </div>
                <div class=" Portfolio-box branding">
                	<a href="#"><img src="img/Portfolio-pic3.jpg" alt=""></a>	
                	<h3>Uni Sans</h3>
                    <p>Branding</p>
                </div>
                <div class=" Portfolio-box photography" >
                	<a href="#"><img src="img/Portfolio-pic4.jpg" alt=""></a>	
                	<h3>Vinyl Record</h3>
                    <p>Photography</p>
                </div>
                <div class=" Portfolio-box branding">
                	<a href="#"><img src="img/Portfolio-pic5.jpg" alt=""></a>	
                	<h3>Hipster</h3>
                    <p>Branding</p>
                </div>
                <div class=" Portfolio-box photography">
                	<a href="#"><img src="img/Portfolio-pic6.jpg" alt=""></a>	
                	<h3>Windmills</h3>
                    <p>Photography</p>
                </div>
    </div>
</section><!--main-section-end-->




<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="img/footer-logo.png" alt=""></a></div>
        <span class="copyright">&copy; Knight Theme. All Rights Reserved</span>
        <div class="credits">
            <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a, .servicelink').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
      if ($(window).width() < 768 ) { 
        $('.main-nav').hide(); 
      }
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>

</body>
</html>